body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.loginbox{
    width: 20%;
    padding: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-style: bold;
    text-align:center;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid gold;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 200px;
    border-color: burlywood;
}
.box input[type="submit"]{
    border: 0;
    cursor: pointer;
    background:darkturquoise;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid royalblue;
    padding: 14px 10px;
    outline: none;
    color: blue;
    border-radius: 24px;
    transition: 0.25s;
}

button:hover{
    opacity: 0.8;
}


.social-menu{ 
    margin-bottom: 10%;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display:flex;
 }
 
 .social-menu ul li {
     list-style: none;
     margin: 0 15px;
 }
 
 .social-menu ul li .fa{
     font-size: 20px;
     line-height: 30px;
     transition: .6s;
     color= #000;
 }
 .social-menu ul li .fa:hover {
     color:#fff;
 }
 
 
 .social-menu ul li a{
     position: relative;
     display: block;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #fff;
     text-align: center;
     transition: .6s;
     box-shadow: 0 5px 4px rgba(0,0,0,.5);
 }
 
 .social-menu ul li a:hover {
     transform: translate(0,-10px);
 
 }
 
 .social-menu ul li:nth-child(1) a:hover{
     background-color: #3b5999;
 }
 
 .social-menu ul li:nth-child(2) a:hover{
     background-color: #55acee; ;
 }
 
 .social-menu ul li:nth-child(3) a:hover{
     background-color: #e4405f; 
 }
 
 .social-menu ul li:nth-child(4) a:hover{
     background-color: #007785; 
 }

 
h2{
    color: wheat;
    text-align:left;
 }
 
 input{
     cursor: pointer;
 }
 